<!-- <table class="table table-bordered">
  <thead>
    <th>Id</th>
    <th>Title</th>
    <th>Price</th>
  </thead>
  <tbody>
    <tr *ngIf="Products">
      <td>{{ product.id }}</td>
      <td>{{ product.Title }}</td>
      <td>{{ product.Price }}</td>
    </tr>
  </tbody>
</table> -->
<p *ngIf="IsActive">User Is Active</p>
<p *ngIf="!IsActive">User Is Not Active</p>
<app-contactus></app-contactus>
<p [ngClass]="classNiloofar">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
<p [ngClass]="classNazi">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
<h2 [ngStyle]="{ color: IsActive ? 'green' : 'red' }">My Name Is Nilo</h2>
<app-blog></app-blog>
